<div *ngIf="mood" class="alert alert-info">{{mood}}</div>
<div *ngIf="errors" class="alert alert-danger">
  <div *ngFor="let error of errors | serverErrors">{{error}}</div>
</div>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/">MoziTest</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="javascript:void(0)" (click)="logout()">Logout</a></li>
    </ul>
  </div>
</nav>
<div class="content-wrap">
  <router-outlet></router-outlet>
</div>